.button {
  border: 1px solid var(--button-bg);
  color: var(--button-text);
  background: var(--button-bg);
  border-radius: var(--button-radius);
  font-size: var(--button-font-size);
  height: var(--button-height);
}