.total {
  background: var(--total-bg);
  color: var(--total-text);
  border-radius: var(--button-radius);
  margin: 16px 16px 26px 16px;
  padding: 8px 32px;
  display: flex;
  justify-content: space-between;

  li {
    display: flex;
    flex-direction: column;
    text-align: center;

    &:first-child {
      color: var(--total-income);
    }

    &:nth-child(2) {
      color: var(--total-expense);
    }
  }
}

.list {
  > li {
    border-bottom: 1px solid var(--button-border-color);
    padding: 8px 16px 16px 24px;
    display: flex;
  }

  .sign {
    flex-shrink: 0;
    background: var(--tag-bg);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .tagAndAmount {
      display: flex;
      justify-content: space-between;

      .tag {
        color: var(--list-tag-text);
        margin-bottom: 4px;
      }

      .amount {
        color: var(--list-amount-text);
      }
    }

    .time {
      color: var(--list-time-text);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}

.more {
  padding-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}

.button {
  width: 100%;
  &_wrapper {
    padding: 16px 16px;
  }
}

.pig_wrapper {
  padding: 120px 0;
  font-size: 20px;
  p {
    padding: 24px 0;
  }
}
svg.pig {
  width: 128px;
  height: 128px;
}
